<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--     <section id="input" class="input"> 
        <img src="https://assets.stickpng.com/images/59cfc4d2d3b1936210a5ddc7.png" alt="">
        <input type="text" placeholder="Search with google or use an URL">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png" alt="" >
    </section> -->
</body>
</html>